@model GratisForGratis.Models.ListaServizi

@if (Model.List.Count <= 0)
{
    <p id="alertNotFound" style="margin-bottom:0px;">
        @Html.Raw(MessageForUser.NessunRisultato)
    </p>
    <a id="inviaRicerca" class="btn btn-primary" href="javascript:void(0);" onclick="saveVendita('SaveRicercaVendite');" title="@Language.SearchSave">
        @Language.Send
        <i class="fas fa-paper-plane" aria-hidden="true"></i>
    </a>
    <div id="annunciExtra">
    </div>
}