@model GratisForGratis.Models.AnnuncioViewModel

@if (!this.Context.Request.IsAuthenticated || Model.Venditore.Id != (Session["utente"] as GratisForGratis.Models.PersonaModel).Persona.ID)
{
    string url = "javascript:void(0);";
    string onClick = "desidero('" + Model.Token + "', this);";
    string text = Language.LblWishIt;
    //string classTag = "wishIt";
    string like = "<i class=\"fas fa-heart\"></i>";

    if (Model.Desidero)
    {
        onClick = "nonDesidero('" + Model.Token + "',this);";
        //text = Language.LblNotWishIt;
        //classTag += " selected";
        like = "<i class=\"fas fa-heart selected\"></i>";
    }

    if (!this.Context.Request.IsAuthenticated)
    {
        url = Url.Action("Login", "Utente", new { ReturnUrl = Request.Url.PathAndQuery });
        onClick = "";
    }
    <div class="col-md-1">
        <p>
            <a class="wish" href="@url" onclick="@onClick">
                @Html.Raw(like)
            </a>
        </p>
    </div>
}
