@Styles.Render("~/Content/seo.css")
@Styles.Render("~/Content/cosaFacciamo.css")

<div id="head">
    <div class="content">
        <h1 id="title">Come funziona</h1>
    </div>
</div>

<div class="box">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-xs-12 col-md-6">
                <h2 class="title">GUADAGNA HAPPY-COIN</h2>
                <ul class="lista">
                    <li><strong>FACENDO AZIONI</strong> registrati, accedi quotidianamente, condividi sui social, pubblica annunci</li>
                    <li><strong>FACENDO SCAMBI</strong> offri cose inutili o proprie competenze</li>
                    <li><strong>FACENDO ASSISTENZA</strong> lascia feedback, segnala bug o suggerimenti</li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-6">
                <img src="~/Images/sezioni/soldi.jpg" alt="guadagna happy-coin" style="width:100%;" />
            </div>
        </div>
    </div>
</div>
<div class="box">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-xs-12 col-md-6">
                <img src="~/Images/sezioni/boom.jpg" alt="funzioni utili" style="width:100%;" />
            </div>
            <div class="col-xs-12 col-md-6">
                <h2 class="title">FUNZIONI UTILI</h2>
                <ul class="lista">
                    <li><strong>Registrazione veloce</strong> inserendo solo una e-mail ed una password</li>
                    <li><strong>Offerta</strong> per poter offrire meno happy-coin e/o offrire un altro oggetto</li>
                    <li><strong>Spedizione</strong> puoi scambiare gli oggetti di persona oppure spedendoli</li>
                    <li><strong>Chat</strong> potrai messaggiare con i venditori prima o dopo l'acquisto</li>
                    <li><strong>Suggerimento scambi</strong> ti verranno segnalati gli annunci che ti interessano e puoi acquistare</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="box">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-xs-12 col-md-6">
                <h2 class="title">PRIVACY</h2>
                <p>
                    Potrai registrarti e scambiare con gli altri in totale anonimato.
                </p>
                <p>
                    A noi non interessa tracciare chi sei, ma solo donarti un'esperienza unica e alternativa.
                </p>
            </div>
            <div class="col-xs-12 col-md-6">
                <img src="~/Images/sezioni/privacy.jpg" alt="guadagna happy-coin" style="width:100%;" />
            </div>
        </div>
    </div>
</div>
<div class="box">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-xs-12 col-md-6">
                <img src="~/Images/sezioni/economia_circolare.jpg" alt="guadagna happy-coin" style="width:100%;" />
            </div>
            <div class="col-xs-12 col-md-6">
                <h2 class="title">ECONOMIA CIRCOLARE</h2>
                <p>
                    Non solo crediamo in un'economia dell'usato ma anche circolare, dove qualcosa che non ti serve
                    più potrebbe servire a qualcun'altro e dove tu non sei più un semplice consumatore ma una persona
                    che punta a realizzare un'economia di qualità ed equilibrata.
                </p>
            </div>
        </div>
    </div>
</div>
