<section id="page">
    <section id="acquisto" class="content">
        <h2>Acquisto fallito!</h2>
        <p>
            <!--Hai tempo di concludere l'acquisto fino a quando il venditore non sbloccherà l'annuncio o al massimo fino a 3 giorni!<br />-->
            Hai tempo di concludere l'acquisto al massimo entro 3 giorni compresi, passati i quali perderai gli happy-coin spesi.<br />
            <br />
            Affrettati!
        </p>
    </section>
</section>