@using GratisForGratis.Models
@model ModelloViewModel

    <div class="col-md-12">
        <p class="model"><b>@Language.Model:</b> @((string.IsNullOrEmpty(@Model.modelloNome)) ? "" : "- " + Model.modelloNome)</p>
    </div>