@using GratisForGratis.Models
@model VideoViewModel

    <div class="col-md-12">
        <p class="place"><b>@Language.Format :</b> @Model.formatoNome</p>
        <p class="place"><b>@Language.Director :</b> @Model.registaNome</p>
    </div>