@using GratisForGratis.Models
@model VideogamesViewModel

    <div class="col-md-12">
        <p class="platform"><b>@Language.Platform :</b> @Model.piattaformaNome</p>
        <p class="platform"><b>@Language.Platform :</b> @Model.genereNome</p>
    </div>