@model GratisForGratis.Models.OggettoViewModel

@{ var oggetto = (GratisForGratis.Models.MusicaViewModel)Model; }

@if (oggetto.formatoID != null)
{
<h5 class="model"><b>@Language.Format :</b> @oggetto.formatoNome</h5>
}
@if (oggetto.artistaID != null)
{
<h5 class="systemOperating"><b>@Language.Artist :</b> @oggetto.artistaNome</h5>
}