@using GratisForGratis.Models
@model AnnuncioViewModel

@{
    ViewBag.Title = Language.CompletedPurchase;
}

@Styles.Render("~/Content/trattative.css")
<section id="purchases">
    <h2>@ViewBag.Title</h2>
    <div id="grid" class="content">
        @Html.Partial("PartialPages/_AnnuncioMedium", Model)
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/Scripts/offerteRicevute.js")
}