html, body {
    height: 100vh !important;
    width: 100% !important;
    min-height: 100vh !important;
    margin: 0px;
}

header{
    border:none;
}

.slogan {
    font-family: 'Gochi Hand', cursive;
}

.page .pulsante{
    text-align:center;
}

.box.mobile {
    display: none;
    text-align: center;
}

#page {
    height: 100vh;
}

.page {
    width: 100%;
    min-height: 100%;
    margin: 0px;
}

.container {
    margin: 0px auto;
    height: 100vh;
    width: 100%;
    max-width:100%;
}

#main > .row {
    min-height:50%;
}

#howwork > .row {
    min-height: 33%;
}

#bando > .row {
    min-height: 25%;
}

.ico {
    width: 40px;
    height: 36px;
    border-radius: 160px;
    border: 1px solid #000;
}

.img-sezione {
    width: 200px;
    font-size:50px;
    margin:0.5em 0em;
}

.title {
    color: #0056b3;
    text-transform: uppercase;
}

#menuHomeOverlay {
    display: none;
    position: fixed;
    z-index: 1001;
    background-color: #f7f7f7;
    width: 100%;
    max-width: 400px;
    height: 100%;
    top: 0px;
    right: 0px;
    border-left: 1px solid #e4e4e4;
    overflow-y: auto;
}

    #menuHomeOverlay .menu {
        text-align: center;
        list-style: none;
        padding: 50px 0px 0px;
    }

        #menuHomeOverlay .menu > li {
            padding: 12px 0px;
        }

    #menuHomeOverlay > .menu > li > a {
        text-transform: uppercase;
        color: #000070;
        font-weight: 900;
        font-size: 14px;
    }

#menuHome {
    position: fixed;
    top: 0px;
    right: 15px;
    display: block;
    text-align: right;
    z-index: 1001;
    padding-top: 20px;
    max-width: 260px;
}

    #menuHome .icona {
        width: 32px;
        height: 32px;
        cursor: pointer;
        /*color: #000070;*/
        text-align: left;
        font-size: 26px;
        color: #007bff;
    }



.dropdown-menu {
    background-color: #f7f7f7;
}

    .dropdown-menu > li {
        display: block;
        min-width: 138px;
        padding: 10px 12px;
        text-align: center;
        position: relative;
        -webkit-user-select: none; /* Chrome/Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+ */
        /* Rules below not implemented in browsers yet */
        -o-user-select: none;
        user-select: none;
        cursor: pointer;
    }

    .dropdown-menu li a {
        text-transform: uppercase;
        color: #000070;
        font-weight: 900;
        font-size: 12px;
    }

    .dropdown-menu.show {
        position: relative !important;
        border: none;
        margin: 0px;
        transform: none !important;
        top: 40px !important;
        width: 100%;
        text-align: center;
        border-top: 1px solid #ececec;
        background-color: #1899d2;
        border-radius: 0px;
    }

        .dropdown-menu.show li a {
            color: #fff;
        }

#menuCategoriaRicerca {
    min-width: 160px;
}

#menuCategoriaRicerca .slicknav_menu {
    border-radius: 6px;
    /*margin: 0px auto 13px;
    margin-right: -4px;*/
    display: flex;
    vertical-align: top;
    border-radius: 24px 0px 0px 24px;
    border: 1px solid;
    text-align: center;
    min-width: 0px;
    margin: 0px;
}

#menuCategoriaRicerca .ricerca {
    display: inline-block;
}
    #menuCategoriaRicerca .ricerca .input-group {
        margin: 0px auto;
        padding: 0px;
    }

#Cerca_Nome {
    border-radius:0px;
    /*max-width: 400px;*/
}

    #index .category {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
        margin-right: 1%;
        margin-bottom: 1%;
        vertical-align: top;
    }

    #index .category .box {
        /*background-color: #f4f4f4;*/
        background-color: rgb(24, 153, 210);
        background-position: center center;
        background-size: cover;
        display: table;
        height: 8em;
        width: 100%;
    }

    #index .category.service .box {
        background-color: rgb(162, 198, 66);
    }

    #index .category .box > div {
        display: table-cell;
        vertical-align: middle;
    }

    #index .category .box:hover > div {
        background-color: rgba(24, 153, 210, 0.5);
    }

    #index .category.service .box:hover > div {
        background-color: rgba(162, 198, 66, 0.5);
    }

    #index .category .box .text {
        text-align:center;
        font-size: 20px;
        margin: 0% 10%;
        background-color: rgba(0,0,0,0.8);
        padding: 10px 0px;
    }

    #index .category .box .name {
    }

    #index .category .box .link {
        border-top: 1px solid;
        font-weight: bold;
    }

#howwork .ref{
    font-size:9px;
}

#boxLogo div {
    text-align: center;
}

#boxLogo a:hover {
    text-decoration:none;
}

#boxLogo img {
    /*max-width: 450px;*/
}

    #boxLogo img.onload{
        max-width:300px;
    }

    #menuTop {
        position: absolute;
        right: 0px;
    }

    #menuTop .nav {
        display: block;
    }

/* BOX RICERCA */
.bootstrap-select {
    border-radius: .25rem .0rem 0rem .25rem;
}

    .bootstrap-select .filter-option {
        color: #fff;
    }

    .bootstrap-select > .dropdown-toggle::after {
        color: #fff;
    }

.ddl-title {
    background-color: #5bc0de !important;
    color: #fff !important;
    font-style: italic;
    font-size: 80%;
}

.ddl-select.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
    /*border-top-left-radius: 4px;
   border-bottom-left-radius: 4px;*/
}

.btn-primary .filter-option-inner-inner {
    text-align: center;
}

#boxRicerca {
    margin-top:22px;
}

    #boxRicerca .tags div {
        text-align: center;
        margin-bottom: 7px;
    }

    #boxRicerca .tags .btn {
        padding: 0px 9px;
        background-color: #EE5B32;
        border: 1px solid #EE5B32;
    }

        #boxRicerca .tags .btn.active, #boxRicerca .tags .btn:hover {
        }

    #boxRicerca .pulsante {
        text-align: center;
    }

        #boxRicerca .pulsante input {
            width: 200px;
            color: rgba(0,0,0,.54);
            background-color: #f2f2f2;
            border: 1px solid #f2f2f2;
        }

            #boxRicerca .pulsante input:hover {
                background-color: #007bff;
                border-color: #007bff;
                color:#fff;
            }

#page {
    position: relative;
}

    #page footer {
        background-color: #f2f2f2;
        margin-bottom: 0px;
        color: rgba(0,0,0,.54);
        font-size: 13px;
        border-top: 1px solid #e4e4e4;
        padding: 0px;
        position: fixed;
        left:0px;
        bottom: 0px;
        width: 100%;
        z-index: 1000;
    }

        #page footer menu{
            padding:0px;
            margin:0px;
        }

        #page footer .nav-link {
            color: rgba(0,0,0,.54);
        }

        #page footer .justify-content-right i {
            font-size: 20px;
            vertical-align: middle;
            margin: 0px 7px;
        }

        #page footer .social.fb {
            color: #3b5998;
        }

        #page footer .social.instagram {
            color: #9736a7;
        }

        #page footer .social.twitter {
            color: #006dbf;
        }

#page2 .language {
}

#page2 .img-thumbnail {
    max-height: 216px;
    margin: 22px 0px;
}

#boxTopArticoli h2 {
    color: #007bff;
    max-width: 300px;
    word-wrap: break-word;
    min-height: 68px;
}

#boxTopArticoli p {
    max-width: 300px;
    word-wrap: break-word;
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    #page > section {
        padding-top: 0px;
    }

    .container{
        height:auto;
        min-height:100%;
    }

    #main{
        height:100%;
    }

    header {
        position:absolute;
        top:20px;
        right:0px;
    }

        header .nav {
            display: flex;
        }

    #bannerRight {
        display: none;
    }

    #menuCategoriaRicerca {
        min-width: 0px;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

    #boxLogo img {
        max-width: 250px;
    }

    #boxRicerca .tags {
        display: none;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .container {
        margin: auto;
        width: auto;
        max-width:initial;
    }

    #menuHome .icona {
        margin-right: 0px;
    }

    #index.container {
        height: auto;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

@media (max-height: 800px) {
    #boxLogo img {
        max-width: 250px;
    }

    #howwork, #bando, #index.container {
        height: auto;
    }
    #bando {
        padding-bottom:100px;
    }
}
