.text-danger{
    font-weight: bold;
    text-align: left;
    text-decoration: underline;
    text-transform: uppercase;
}

.btn-facebook {
    background-color: #4267b2;
}
/*
#loginForm form{
    max-width:764px;
}

.form-horizontal .form-group
{
    width:auto;
}*/