

/* SCELTA CATEGORIA */

.slicknav_menu .slicknav_nav {
    list-style: none;
}

.slicknav_menu .slicknav_nav li {
    padding: 12px;
}

    .slicknav_menu {
        display: inline-block;
        vertical-align: top;
        border-radius: 6px 0px 0px 6px;
        border: 1px solid;
        margin-right: -4px;
        text-align: center;
        min-width: 158px;
    }

    .slicknav_menu > .slicknav_nav {
        position: absolute;
        top: 50px;
        left: 0px;
        background: #1899d2;
        padding: 0px;
        z-index: 3;
        width: 100%;
    }

.slicknav_menu {
    background: #116b93;
    padding: 0px;
}

    .slicknav_menu:hover {
        box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.35), inset 0 0 0 2em rgba(0, 0, 0, 0.3);
    }

.slicknav_btn {
    background: none;
    margin: 0px auto;
    width: 100%;
}

.slicknav_menu .slicknav_icon {
    float: right;
    padding-top: 3px;
}

.slicknav_menu .slicknav_icon-bar {
    background-color: #fff;
}

.slicknav_menu .slicknav_menutxt {
    text-shadow: none;
    font-weight: 900;
    letter-spacing: 1px;
    width: 180px;
    word-wrap: break-word;
    overflow: hidden;
    display: block;
    padding: 0px 8px;
    color:#fff;
}

.slicknav_nav ul, .slicknav_nav li {
    background-color: #116b93;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    text-align: left;
    list-style:none;
}

.slicknav_nav ul, .slicknav_nav li:not(:first-child) {
    border-top: 1px solid #1899d2;
}

.slicknav_nav .slicknav_item:hover {
    background: none;
    color: #fff;
}

.slicknav_nav a:hover, .slicknav_nav a, .slicknav_nav a:link {
    background: none;
    color: #fff;
    text-decoration:none;
}

.slicknav_nav .slicknav_txtnode {
    padding: 7px 15px;
    margin: 0;
}
