#news .ico{
    width: 38px;
    padding:3px;
}

.news {
    display: inline-block;
    margin: 13px;
    max-width: 200px;
    padding: 4px;
    border-radius: 6px;
}

.news .opzioni
{
    margin-top:12px;
}

    .news .nome {
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        margin:12px 0px;
    }