.icona{
    margin-top:4px;
}

#boxInfoAggiuntive{
    display:none;
}

#advanced {
    display: none;
}

.btnUpload{
    width:80px !important;
    height:32px !important;
    background-image:none;
    border-radius:6px;
    background-color:#a5c71b;
    border: 2px solid #337ab7;
    margin:0px auto;
}

.btnUpload:hover, .btnUpload.selected{
    background-image:none;
    background-color:#178fcc;
    color:#fff;
    box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.35), inset 0 0 0 2em rgba(0, 0, 0, 0.3);
}

#formPubblica, #datiBase{
    width: 100%;
    margin: 0px auto;
    text-align:center;
    max-width:1400px;
}

.form-horizontal .control-label{
    display:block;
    max-width:280px;
}

.form-horizontal .form-group{
    position:relative;
    width:24%;
    padding:12px 0px;
    min-width: 200px;
    margin-right: 4%;
}

    .form-horizontal .form-group.departureInfo {
        width: auto;
        text-align:center;
        /*border: 2px solid #cecece;
        margin: 0% 3%;*/
    }

.title {
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: underline;
}

#menuCategoriaPubblica .slicknav_menu
{
    border-radius:6px;
    width: 100%;
    max-width: 280px;
}

#menuCategoriaPubblica .slicknav_menu .slicknav_menutxt{
    width:88%;
}

/*
#menuCategoriaPubblicazione .dropdown-toggle{
    display:block;
}

#menuCategoriaPubblicazione .btn{
    width:256px;
    background-color:#a5c71b;
    border: 2px solid #337ab7;
}

#menuCategoriaPubblicazione .btn:hover{
    background-color:#178fcc;
    color:#fff;
    box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.35), inset 0 0 0 2em rgba(0, 0, 0, 0.3);
}

#menuCategoriaPubblicazione .btn .categoriaSelezionata{
    min-width:200px;
    max-width:unset;
}

#menuCategoriaPubblicazione .btn span, #menuCategoriaPubblicazione .btn .caret{
    color:#fff;
}

#menuCategoriaPubblicazione .dropdown-menu > li{
    width:256px;
}

.dropdown-menu > li > div.trigger {
  clear: both;
  color: #333;
  display: block;
  font-weight: normal;
  line-height: 1.42857;
  padding: 3px 20px;
  white-space: nowrap;
}
*/
.col-md-10{
    display: inline-block;
    vertical-align: top;
    width:auto;
    float:none;
    padding:0px 10px;
}

.quantity, .time{
    width:90px;
}

#file{
    border: medium none;
    font-size: 12px;
    height: 32px;
    padding: 0px;
    width: 72px;
    margin:0px auto;
}

#progress {
    margin-top: 10px;
    display:none;
}

#dropZone{
    border: 2px solid #b4bdbf;
    height: 200px;
    width: 300px;
}

#pubblicazione{
    text-align:left;
}

#ErroreGenerico{
    text-align:center;
}

#infoAggiuntive
{
    display:none;
}

.add, .remove{
    width: 28px;
    position:absolute;
    right:3px;
    bottom:2px;
}

.remove{
    color:red;
}

.materials .row, .components .row
{
    position:relative;
    margin:6px 0px;
}

.materials .form-control, .components .form-control {
    display: inline-block;
    vertical-align: middle;
    padding-right:34px;
}

.form-horizontal .form-group.hide{
    display:none;
}

.valuta
{
    display:inline-block;
    width: 10px;
    font-weight: 700;
}

@media only all and (max-width: 480px) {
    .form-horizontal .form-group {
        width:100%;
        margin:0px;
    }

    .form-horizontal .form-group textarea{
        width:100%;
    }
}

@media only all and (max-width: 980px) {
    .form-horizontal .form-group {
        width:42%;
        margin:0px;
    }

    .form-horizontal .form-group textarea{
        width:100%;
    }
}