.card-img-top {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.carousel-control-next, .carousel-control-prev {
    background-color: #0056b3;
}

.points {
    margin: 24px 0px 22px;
}

#title {
    text-transform: uppercase;
}

#azioni{
    margin-top:22px;
}

#grid{
    width:100%;
}

#grid header .cella {
    padding:6px;
}

#grid .bonus{
    display: inline-block;
    vertical-align:top;
    margin-bottom: 12px;
    margin-right: 12px;
    padding: 0px 16px;
    width:200px;
    border-radius:6px;
}

#grid .bonus .title{
    text-decoration:underline;
}

#grid .bonus .plus{
    color: #337ab7;
    font-style: italic;
}

#grid .table{
    display: table;
    height: 114px;
}

#grid .table .cell{
    display: table-cell;
    vertical-align: middle;
}

#grid .cella{
    padding:6px 0px;
}

#grid .cella .btn{
    width:148px;
    margin:10px 0px;
}