.title {
    color: #bd1723;
}

.img-thumbnail {
    max-width: 100px;
    width: 70%;
    border-radius: 100px;
    margin: 22px;
}

.card-img-top {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.helper{
    display:none;
}

#presentazione {
    text-align: left;
    border-right: 1px solid #ececec;
}

    #presentazione strong {
        color: #337ab7;
    }

    #presentazione .box{
        height: 300px;
    }

#linkRapidi {
    text-align: left;
}

.lista {
    padding-left: 0px;
    list-style: none;
}

.lista li{
    margin: 10px 0px;
    text-transform:uppercase;
}

#linkRapidi .helper img{
    max-width:200px;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
    #head {
        display: none;
    }

    #linkRapidi{
        display:none;
    }

    #presentazione{
        border:none;
        margin: 0px !important;
    }
}