@model GratisForGratis.Models.ListaOggetti

<div class="linkPubblicaCategoria">
    @Html.ActionLink(Language.LnkGoToPublic, "", "Pubblica")
</div>
@Html.Partial("PartialPages/_Adv")
@foreach (GratisForGratis.Models.ModelloViewModel oggetto in Model.List)
{
    ViewData["Dettaglio"] = Html.Partial("Dettaglio/_Gioco", oggetto);
    @Html.Partial("PartialPages/_Oggetto", oggetto)
}
@Html.Partial("PartialPages/_ElencoPagineRicerca", new GratisForGratis.Models.ElencoPagineRicerca(Model.PageCount,
        Model.PageNumber, ((Model.PageNumber - 5) < 1 ? 1 : Model.PageNumber - 5),
        "categoria",
        Response.Cookies["ricerca"]["Categoria"],
        Response.Cookies["ricerca"]["IDCategoria"]))