@using GratisForGratis.Models
@model ListaOggetti

<div class="linkPubblicaCategoria">
    @Html.ActionLink(Language.LnkGoToPublic, "", "Pubblica")
</div>
@Html.Partial("PartialPages/_Adv")
@foreach (OggettoViewModel oggetto in Model.List)
{
    @Html.Partial("PartialPages/_Oggetto", oggetto)
}
@Html.Partial("PartialPages/_ElencoPagineRicerca", new ElencoPagineRicerca(Model.PageCount,
        Model.PageNumber, ((Model.PageNumber - 5) < 1 ? 1 : Model.PageNumber - 5),
        "categoria",
        Response.Cookies["ricerca"]["Categoria"],
        Response.Cookies["ricerca"]["IDCategoria"]))
