@using GratisForGratis.Models
@model ListaServizi

<div class="linkPubblicaCategoria">
    @Html.ActionLink(Language.LnkGoToPublic, "", "Pubblica")
</div>
@foreach (ServizioViewModel servizio in Model.List)
{
    @Html.Partial("PartialPages/_Servizio", servizio)
}
@Html.Partial("PartialPages/_ElencoPagineRicerca", new ElencoPagineRicerca(Model.PageCount,
        Model.PageNumber, ((Model.PageNumber - 5) < 1 ? 1 : Model.PageNumber - 5),
        "categoria",
        Response.Cookies["ricerca"]["Categoria"],
        Response.Cookies["ricerca"]["IDCategoria"]))