@model GratisForGratis.Models.ListaOggetti

<div class="linkPubblicaCategoria">
    @Html.ActionLink(Language.LnkGoToPublic, "", "Pubblica")
</div>
@if (Model.PageCount <= 0)
{
    @Html.Partial("PartialPages/_NotFound")
}
else
{
    foreach (GratisForGratis.Models.OggettoViewModel oggetto in Model.List)
    {
        ViewData["Dettaglio"] = Html.Partial("Dettaglio/_Ufficio", oggetto);
        @Html.Partial("PartialPages/_Oggetto", oggetto)
    }
    @Html.Partial("PartialPages/_ElencoPagineRicerca", new GratisForGratis.Models.ElencoPagineRicerca(Model.PageCount,
            Model.PageNumber, ((Model.PageNumber - 5) < 1 ? 1 : Model.PageNumber - 5), "Oggetti",
            Response.Cookies["ricerca"]["Categoria"],
            Response.Cookies["ricerca"]["IDCategoria"]))
}