@model GratisForGratis.Models.RicercaServizioViewModel

@Html.Partial("PartialPages/_FiltroServizio", Model)

<div class="form-group col-md-12 justify-content-center align-items-center">
    <a class="btn btn-primary" href="javascript:void(0);" onclick="ricercaAvanzata('FiltroServizi');">@Language.Find</a>
</div>