@model GratisForGratis.Models.RicercaViewModel

<div class="row justify-content-center align-items-center">
    <a class="btn btn-primary" href="javascript:void(0);" onclick="ricercaAvanzata('FiltroVendite');">@Language.Find</a>
</div>