@model GratisForGratis.Models.RicercaOggettoViewModel

@Html.Partial("PartialPages/_FiltroOggetto", Model)

<div class="form-group col-md-12 justify-content-center align-items-center">
    <a class="btn btn-primary" href="javascript:void(0);" onclick="ricercaAvanzata('FiltroOggetti');">@Language.Filter</a>
</div>